@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display&family=Raleway:wght@300;600&display=swap");

body {
  background-color: #ffffff;
  color: #100e14;
  font-family: "Raleway", sans-serif;
}
